.wrapper {
    display: flex;
    justify-content: center;
}

.tableWrapper {
    width: 80%;
    overflow-y: auto;
    height: 80vh;
}

.table {
    direction: rtl;
    width: 100%;
}

.table, .table td, .table th {
    border-collapse: collapse;
    text-align: center;
    border: black 2px solid;
    padding: 10px;
}

.table th {
    background-color: #f6b234;
}

.table td, .table th {
    width: 15%;
}

.table td:first-child, .table td:nth-child(2), .table th:first-child, .table th:nth-child(2) {
    width: 20%;
}
